
#main{
	width: 1100px;
	margin: 20px auto;
	/*height: 1320px;*/
	position: relative;
}
/*==========================主页左侧区域=======================*/
#main .main_left{
	width: 200px;
	/*height: 800px;*/
	position: absolute;

}

/*通知*/
#main .main_left .notice{
	width: 180px;
	background: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
	padding: 10px;
	height: 180px;
	overflow: hidden;
}
.notice ul{
	margin: 0px;
	padding: 0px;
	height: 180px;
	overflow: hidden;
}
.notice ul li{
	margin: 0px;
	width: 200px;
	margin-bottom: 10px;
	width: 190px;
	font-size: 13px;
	text-indent: 10px;
	font-family: "Arial";
	color:#333;
}
.notice ul li .p_r{
	padding-right: 10px;
	text-align: right;
}
.notice ul li span{
	color: #999;
	margin: 0 0 0 10px;
}
/*通知*/

/*最多下载*/
#main .main_left .mostdownload{
	width: 190px;
	background: #fff;
	padding-left: 10px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.mostdownload .download_content{
	position: relative;
	overflow: hidden;
	margin-bottom: 5px;
}
.mostdownload .download_content a{
	position: absolute;
	left: 25px;
	top: 0px;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	color: #0089C8;
}
.mostdownload .download_content a:hover{
	color: orange;
	text-decoration: underline;
}

/*最多下载*/

/*完结竞赛*/
#main .main_left .endCompetition{
	width: 190px;
	background: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.endCompetition .end_list{
	position: relative;
	overflow: hidden;
	margin-bottom: 5px;
}
.endCompetition .end_list a{
	position: absolute;
	top: 0px;
	left: 25px;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	color: #0089C8;
}
.endCompetition .end_list a:hover{
	text-decoration: underline;
	color: orange;
}
/*完结竞赛*/

/*猜你喜欢*/
#main .main_left .guess{
	width: 195px;
	background: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 15px;
}
.guess .square{
	width: 55px;
	height: 55px;
	text-align: center;
	display: inline-block;
}
.guess .square a{
	display: block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size: 12px;
	color: #4BA4F4;
	background: url(../images/source/sprite_0718.png) -151px -65px;
}
.guess .square a:hover{
	background: url(../images/source/sprite_0718.png) -80px -65px;
	color: #fff;
}
/*猜你喜欢*/
/*=============================主页左侧区域结束===================*/

/*=============================主页中间区域====================*/
#main .main_middle{
	width:680px; 
	margin-left: 210px;
}
/*==============================资源部分========================*/
#main .main_middle .top_source{
	width: 680px;
	/*height: 400px;*/
	background: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.top_source .type_wrapper{
	padding: 10px;

}
.top_source .type_wrapper .choose_area{
	margin-bottom: 10px;
}
.top_source .type_wrapper .choose_area span:hover{
	cursor: pointer;
}
.top_source .type_wrapper ul{
	margin: 0;
	padding: 0;
	display: none;
}
.top_source .type_wrapper ul li{
	width: 60px;
	height: 40px;
	display: inline-block;
	padding: 0px;
	margin-bottom: 9px;
}
.top_source .type_wrapper ul li a{
	display: block;
	width: 60px;
	height: 40px;
	background: url(../images/source/sprite_0718.png) -151px -72px;
	font-size: 12px;
	color: #4BA4F4;
	text-align: center;
	line-height: 45px;
}
.top_source .type_wrapper ul li a:hover{
	color: #fff;
	background: url(../images/source/sprite_0718.png) -80px -73px;
}
/*最新分享*/
.top_source  .latest_share{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 310px;
	border:1px dashed #999;
	display: inline-block;
}
/*最新分享结束*/
/*推荐下载*/
.top_source .recommend{
	display: inline-block;
	width: 310px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border:1px dashed #999;
}
/*推荐下载结束*/
/*====================资源部分结束======================*/

/*========竞赛开始==============*/
#main .main_middle .middle_competition{
	width: 660px;
	background: #fff;
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.middle_competition .competition_top{
	font-size: 14px;
	font-family: "Microsoft Yahei";
	text-indent: 25px;
	margin-bottom: 10px;
}
/*首页当前竞赛列表*/
ul.index_competition_list{
	margin: 0;
	padding: 0;
}
ul.index_competition_list li{
	font-size: 14px;
	font-family: "Microsoft Yahei";
	width: 640px;
	padding-left: 10px;
}
ul.index_competition_list li.one{
	background: #F7F4F4;
}
ul.index_competition_list li.two{
	background: #CECECE;
}
ul.index_competition_list li table td{
	padding-right: 20px;
	text-align: center;
}
ul.index_competition_list li table td a{
	color: #0089C8;
}
ul.index_competition_list li table td a:hover{
	color: orange;
	text-decoration: underline;
}
/*首页当前竞赛列表结束*/
/**/
/*=========竞赛结束==============*/


/*底部留言框区域样式*/
#main .main_middle .bottom_comment{
	width: 660px;
	background: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	padding: 10px;
}
.bottom_comment form textarea{
	resize:none;
}

.bottom_comment_top{
	font-size: 14px;
	font-family: "Microsoft Yahei";
	text-indent: 25px;
	margin-bottom: 10px;
}

/*底部留言区域样式*/
/*==============================主页中间区域结束=================*/

/*============================主页右侧区域========================*/
#main .main_right{
	width:200px;
	height: 600px;
	position: absolute;
	right: 0px;
	top: 0px;
}
/*新加入成员*/
#main .main_right .new_member{
	width: 195px;
	background: #fff;
	margin-bottom: 10px;
	padding-left: 5px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	padding-bottom: 10px;
	padding-top: 10px;
}
.new_member table td{
	font-size: 14px;
}
.new_member table td a{
	color: #4BA4F4;
}

/*新加入成员*/

/*最多贡献者*/
#main .main_right .most_uploader{
	width: 195px;
	background: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
}
.most_uploader table td{
	font-size: 14px;
}
.most_uploader table td a{
	 color: #4BA4F4;
}
/*最多贡献者*/
/*===========================主页右侧区域结束=========================*/


/*公共样式*/
.div_title{
	font: 16px/30px "微软雅黑";
	color: #FFF;
	background: url(../images/source/bg_repeat.png) repeat-x scroll 0px 0px transparent;
	height: 32px;
	text-align: center;
	cursor: pointer;
}
.red_em{
	display: block;
	background:red ;
	width: 17px;
	height: 17px;
	font-size: 13px;
	color: #fff;
	text-align: center;
}
.orange_em{
	display: block;
	background:orange ;
	width: 17px;
	height: 17px;
	font-size: 13px;
	color: #fff;
	text-align: center;
}
.more{
	height: 20px;
	padding-right: 10px;
 }
 .more a{
 	float: right;
 	font-size: 14px;
 	font-family: "Microsoft Yahei";
 	color: #999;
 }
 .more a:hover{
	color: orange;
	text-decoration: underline;
 }

.not_hover{
	font-family: 微软雅黑,Verdana,sans-serif,宋体;
	font-size: 14px;
	background: #F3F3F3;
}
/*代码语言、代码分类鼠标移入样式变化*/
.span_hover{
	font-family: 微软雅黑,Verdana,sans-serif,宋体;
	font-size: 14px;
	color: #fff;
	background: #40AA52;
}
/*代码语言、代码分类鼠标移入样式变化*/


/*主页资源区域最新分享和推荐下载共用样式*/
ul.index_source_list {
	margin:0;
	padding: 0;
}
ul.index_source_list li{
	position: relative;
	margin-top: 5px;
	overflow: hidden;
}
ul.index_source_list li a{
	position: absolute;
	left: 25px;
	top: 0px;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	color: #0089C8;
}
ul.index_source_list li a:hover{
	color: orange;
	text-decoration: underline;
}
